*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  width: 100%;
  font-family: system-ui, sans-serif;
  background-color: #1b1b1c;
  color: #ffffff;
}

main {
  position: relative;
}

section {
  min-height: 100vh;
  z-index: 2;
  /* relative to its original position */
  position: relative;
}

#section3,#section4 {
  min-height: 50vh;
}

#section1 nav {
  padding-top: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section1 nav svg {
  width: 6rem;
  height: auto;
  margin: 20px 40px;
  fill: white;
}

#section1 nav #menu,
#showreel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#section1 nav #showreel svg {
  width: 1.1rem;
  height: auto;
  margin-right: 0.5rem;
  fill: rgb(234, 65, 65);
}

#section1 nav #showreel {
  font-size: 0.8rem;
}

#middle,
#bottom {
  display: flex;
}

#middle #left,
#right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding-top: 5rem;
  padding-right: 0%;
  font-family: "Instrument Serif", serif;
  text-align: right;
  font-size: 5rem;
  font-weight: bold;
}

#bottom #right,
#left {
  justify-content: flex-start;
  text-align: left;
  padding-left: 2rem;
  width: 50%;
  font-family: "Geist";
  font-size: 1.5rem;
  padding-left: 4rem;
  padding-right: 12rem;
  font-weight: 200;
}

.first-line {
  height: 1px;
  background-color: rgba(255, 0, 0, 0.772);
  position: absolute;
  width: 35rem;
  rotate: 45deg;
  transform: translate(-17rem, -10rem);
}

.second-line {
  height: 1px;
  background-color: rgba(255, 0, 0, 0.772);
  position: absolute;
  width: 10rem;
  transform: rotate(-45deg);
  right: 17%;
  top: 28%;
}
.titles {
  padding-left: 15rem;
  margin-top: 10rem;
  font-family: "Poppins", sans-serif;

  gap: 3rem;
}
.titles .title {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
  opacity: 0.4;
}

.titles .title h1 {
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 2rem;
  margin-right: 5rem;
}

.titles .title small {
  text-transform: uppercase;
  font-size: 0.4rem;
  letter-spacing: 0.2rem;
  opacity: 0.37;
}

.title:hover {
  opacity: 1;
  cursor: pointer;
}

#canvas-elem::after {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/public/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  transition: all 0.3s linear;
}
/* “When the <main> element contains a .title inside #section2 that is currently being hovered, apply styles to the ::after pseudo-element of #canvas-elem.” */
main:has(#section2 .title:hover) #canvas-elem::after {
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#section2 .title[img-title="tomorrowland"]:hover)
  .images
  #tomorrowland {
  opacity: 1;
  background-color: rgb(40, 43, 77);
}

main:has(#section2 .title[img-title="kikk"]:hover) .images #kikk {
  opacity: 1;
  background-color: rgb(34, 36, 52);
}
main:has(#section2 .title[img-title="orw"]:hover) .images #orw {
  opacity: 1;
  background-color: rgb(162, 0, 0);
}
main:has(#section2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago {
  opacity: 1;
  background-color: rgb(40, 43, 77);
}
main:has(#section2 .title[img-title="navy-pier"]:hover) .images #navy-pier {
  opacity: 1;
  background-color: rgb(40, 43, 77);
}
main:has(#section2 .title[img-title="phone"]:hover) .images #phone {
  opacity: 1;
  background-color: rgb(40, 43, 77);
}
main:has(#section2 .title[img-title="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgb(7, 66, 64);
}

#section3 {
  padding-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  font-family: 'Instrument Serif', sans-serif;
  position: relative;
  z-index: 0;
}

#section3 .top .left,.right{
  text-align: right;
  width: 50%;
  font-family: '';
  font-size: 2rem;
  
}

#section3 .bottom .left,.right{
  text-align: left;
  width: 50%;
  font-family: 'Geist';
 
}

#section4 .bottom{
  position: relative;
  z-index: 9999;
}

#section3 .top,.bottom{
  display:flex;
  margin-right: 17rem;
}

#section4 {
  padding-left:40rem;
  padding-right: 10rem;
  display:flex;
  opacity: 0.7;
  


  p{
    opacity: 0.7;
    font-weight: 400;
    font-size: 0.75rem;
    padding: 1rem;
  }
}